.linkBody {
	height: 65px;
	display: grid;
	grid-template: 1fr 1fr / 1fr 5fr;
	cursor: pointer;
	padding: 10px;
	border-top: 1px rgb(54, 54, 54) solid;

	.avatar {
		width: 45px;
		height: 45px;
		background: url('./../../../../img/avtarS.jpg') center/cover no-repeat;
		border-radius: 50%;
		grid-row: 1 / 3;
		margin: 0px 10px 0px 0px;
	}
	.link {
		color: #fff;
		font-size: 13px;
		font-weight: 600;
	}
	.lastMessage {
		font-size: 13px;
		color: rgb(93, 93, 93);
	}
	&:last-child {
		border-bottom: 1px rgb(54, 54, 54) solid;
	}
	&:first-child {
		border-top: none;
		border-radius: 7px 0 0 0;
	}

	&:hover {
		background: rgb(51, 51, 51);
	}
}
