.messagesWrap {
	width: 70%;
	background: url('./../../../img/dialogBg.jpg') center/cover no-repeat;
	border-radius: 0 7px 7px 0;
	display: flex;
	flex-direction: column;
	justify-content: space-between;

	// ====================================================

	.info {
		height: 50px;
		background: rgba(255, 255, 255, 0.6);
		border-radius: 0 7px 0 0;
		display: flex;
		justify-content: space-between;
		padding: 0px 20px;

		.infoLeft {
			height: 100%;
			display: flex;
			align-items: center;

			.icon {
				width: 30px;
				height: 30px;
				border-radius: 50%;
				background: url('./../../../img/avtarS.jpg') center/cover no-repeat;
				image-rendering: crisp-edges;
				cursor: pointer;
			}
			.name {
				margin: 0px 0px 0px 10px;
				color: rgb(61, 61, 61);
				cursor: pointer;
				&:hover {
					color: rgb(170, 170, 170);
				}
			}
			&:hover {
				color: rgb(170, 170, 170);
			}
		}
		.infoRight {
			height: 100%;
			display: flex;
			align-items: center;
			.about {
				letter-spacing: 1px;
				color: rgb(61, 61, 61);
				cursor: pointer;
				&:hover {
					color: rgb(170, 170, 170);
				}
			}
		}
	}

	// ====================================================

	.messages {
		flex-grow: 1;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		align-items: flex-end;
		padding: 30px;
	}

	// ====================================================

	.inputWrap {
		height: 50px;
		background: rgba(138, 138, 138, 0.5);
		border-radius: 0 0 7px 0;
		display: grid;
		align-items: center;
		grid-template-columns: 7fr 2fr;
		padding: 0px 20px;

		.input {
			background: rgba(219, 219, 219, 0.8);
			color: rgb(61, 61, 61);
			padding: 0px 0px 0px 8px;
			height: 30px;
			border-radius: 4px;
		}

		.button {
			margin: 0px 0px 0px 30px;
			background: rgba(192, 192, 192, 0.9);
			color: rgb(61, 61, 61);
			height: 30px;
			border-radius: 4px;
			&:hover {
				background: rgba(158, 158, 158, 0.9);
			}
		}
	}
}
