body._lock {
	overflow: hidden;
}
.header {
	background: #27282c;

	// ==========================================

	.inner {
		height: 50px;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	// ==========================================

	.logo {
		display: flex;
		align-items: center;

		height: 100%;
		font-size: 16px;
		font-weight: 600;
		letter-spacing: 2px;
	}

	// ==========================================

	.name {
		display: flex;
		align-items: center;

		& p {
			margin: 0 15px 0 0;
		}
		.img {
			width: 30px;
			height: 30px;
			background-image: url(./../../img/avatar.png);
			background-size: cover;
			background-position: center;
			background-repeat: no-repeat;
		}
	}
}
