.form {
	margin-top: 30px;
	display: flex;
	width: 100%;

	.button {
		margin-left: 100px;
		border-radius: 5px;
		width: 100px;
		min-height: 40px;
		background: #191a1d;
		color: #fff;
		padding: 5px;
	}
}
