// ========================================
// link fonts

// ========================================
// all
* {
	// border: 1px rgb(129, 129, 129) solid;
	transition: 0.4s;
	color: #fff;
}

// ========================================
// fonts

// .9 {
// 	font-family: '', sans-serif;
// }

// ========================================

.flex {
	margin-top: 20px;
	display: flex;
}

body {
	background: rgb(75, 75, 80);
	overflow-x: hidden;
}
