.form {
	height: 50px;
	background: rgba(138, 138, 138, 0.5);
	border-radius: 0 0 7px 0;
	display: grid;
	align-items: center;
	grid-template-columns: 7fr 2fr;
	padding: 0px 20px;

	.input {
		background: rgba(219, 219, 219, 0.8);
		color: rgb(61, 61, 61);
		padding: 0px 0px 0px 8px;
		height: 30px;
		border-radius: 4px;
	}

	.button {
		margin: 0px 0px 0px 30px;
		background: rgba(192, 192, 192, 0.9);
		color: rgb(61, 61, 61);
		height: 30px;
		border-radius: 4px;
		&:hover {
			background: rgba(158, 158, 158, 0.9);
		}
	}
}
